<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>83</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>2.png</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>3.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>4.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>5.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>6.png</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>83</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>7.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>83</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>8.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>83</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
	</dict>
</dict>
</plist>